In [3]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\polin\anaconda3\lib\site-packages (2.9.10)

In [4]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [5]:
import requests
import pandas as pd

API_KEY = "8b592510d1279b180af442bb63c102fe"
BASE_URL = "https://api.themoviedb.org/3/movie/popular"

def extract_data(page=1):
    url = f"{BASE_URL}?api_key={API_KEY}&page={page}"
    response = requests.get(url)
    if response.status_code == 200:
        data = response.json()
        return data['results']
    else:
        print(f"Failed to fetch data: {response.status_code}")
        return []

# Fetch multiple pages of movie data
movies = []
for i in range(1, 6):  # Fetch data from 5 pages
    movies.extend(extract_data(page=i))

# Save data to a DataFrame
movies_df = pd.DataFrame(movies)
movies_df.to_csv('raw_movie_data.csv', index=False)

In [6]:

import re

# Load raw data
movies_df = pd.read_csv('raw_movie_data.csv')

# Keep relevant columns
movies_df = movies_df[['id', 'title', 'release_date', 'genre_ids', 'vote_average', 'vote_count', 'popularity']]

# Clean 'genre_ids' to make it human-readable
movies_df['genre_ids'] = movies_df['genre_ids'].apply(lambda x: re.sub(r'[\[\]]', '', str(x)))

# Convert release_date to datetime
movies_df['release_date'] = pd.to_datetime(movies_df['release_date'], errors='coerce')

# Handle missing values
movies_df = movies_df.dropna()

# Save the cleaned data
movies_df.to_csv('cleaned_movie_data.csv', index=False)

In [9]:
movies_df['genre_ids'][0]

'16, 12, 10751, 35'

In [17]:
movies_df

,id,title,release_date,genre_ids,vote_average,vote_count,popularity
0,1241982,Moana 2,2024-11-27,"16, 12, 10751, 35",7.000,320,5883.763
1,912649,Venom: The Last Dance,2024-10-22,"878, 28, 12",6.400,986,3523.453
2,1035048,Elevation,2024-11-07,"28, 878, 53",6.400,87,2204.744
3,974453,Absolution,2024-10-31,"28, 80, 53",6.100,103,1777.824
4,1182387,Armor,2024-10-30,"28, 80, 53",5.500,43,1686.649
...,...,...,...,...,...,...,...
95,693134,Dune: Part Two,2024-02-27,"878, 12",8.151,5667,204.295
96,1252470,Sikandar Ka Muqaddar,2024-11-29,"53, 80, 9648, 28",5.400,5,203.616
97,1104844,BLUE LOCK THE MOVIE -EPISODE NAGI-,2024-04-19,"16, 28, 18",7.400,111,203.239
98,929590,Civil War,2024-04-10,"10752, 28, 18",6.904,2846,197.885
99,1079091,It Ends with Us,2024-08-07,"10749, 18",7.244,1097,197.214

In [42]:
import psycopg2
conn = psycopg2.connect(dbname='postgres', user='postgres', password='875806@psvC', port='5432')

In [43]:
cur = conn.cursor()

In [44]:
engine = create_engine('postgresql+psycopg2://postgres:875806%40psvC@localhost/movies_db')

In [45]:
cur.execute("""
CREATE TABLE movies(
id INT PRIMARY KEY,
title VARCHAR(255),
release_date DATE,
genre_ids VARCHAR(255),
vote_average FLOAT,
vote_count INT,
popularity FLOAT
);
""")

In [46]:
conn.commit()

In [48]:
movies_df.to_sql('movies', con=engine, if_exists='append', index=False)

100